<div id="frame-{{frame.id}}" class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/frames/{{frame.id}}">
        <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="flex justify-between px-4 pt-4 mb-2">
        <h5 class="text-3xl font-bold text-gray-900 dark:text-white">{{frame.ip}}</h5>
        {% include '_frame_menu.html' %}
    </div>
    <div class="px-4 pb-4">
        <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">{{frame.status}}</p>
        {% if frame.status == "uninitialized" %}
        <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Initialize
            </a>
        </div>
        {% endif %}
    </div>
</div>
