<!DOCTYPE html>
<html class="bg-gray-600">
<head>
    <title>{{frame.ip}} - FrameOS Control Panel</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            padding: 20px;
            font-family: arial, sans-serif;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
</head>
<body hx-boost="true">
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
        <a href='/'>FrameOS</a> / {{frame.ip}}
    </h1>

    <div id="frame-{{frame.id}}" class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-4">
        <div class="flex justify-between px-4 pt-4 mb-2">
            <h5 class="text-3xl font-bold text-gray-900 dark:text-white">{{frame.ip}}</h5>
            {% include '_frame_menu.html' %}
        </div>
        <div class="px-4 pb-4">
            <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">{{frame.status}}</p>
            {% if frame.status == "uninitialized" %}
            <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Initialize
                </a>
            </div>
            {% endif %}
        </div>
    </div>    
    {% include '_frame_logs.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>
</html>
