<!DOCTYPE html>
<html class="bg-gray-600">
<head>
    <title>FrameOS Control Panel</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            padding: 20px;
            font-family: arial, sans-serif;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
</head>
<body hx-boost="true">
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">FrameOS</h1>
    <div id="frames" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% if frames|length == 0 %}
            <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                You do not have any frames set up. Add one below.
            </div>
        {% endif %}
        {% for frame in frames %}
            {% include '_frame.html' %}
        {% endfor %}
        <div id="add-frame" class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form class="space-y-6" hx-post="/frames/new" hx-swap="beforebegin" hx-target="#add-frame">
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Add a smart frame</h5>
                <div>
                    <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IP address</label>
                    <input type="ip" name="ip" id="ip" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="127.0.0.1" required>
                </div>
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Frame</button>
            </form>
        </div>
    </div>

    
<!-- 
    <script>
        $(document).ready(function() {
            var socket = io.connect('http://localhost:8080/test');  // Connecting to the namespace

            socket.on('initialize_frame_output', function(msg) {
                console.log('Received:', msg.data);  // Logging the output
            });

            getFrames();

            $('#addFrameForm').submit(function(e) {
                e.preventDefault();
                var ip = $('#ip').val();
                var port = $('#port').val();
                $.post('/frames', {ip: ip, port: port})
                    .done(function(data) {
                        getFrames();
                    });
            });
        });

        function getFrames() {
            $.get('/frames', function(frames) {
                $('#frames').empty();
                frames.forEach(function(frame) {
                    $('#frames').append(
                        '<div id="frame' + frame.id + '">' +
                        '<p>' + frame.ip + ':' + frame.port + ' - ' + frame.status + '</p>' +
                        '<button onclick="removeFrame(' + frame.id + ')">Remove</button>' +
                        '<button onclick="checkOnline(' + frame.id + ')">Check Online</button>' +
                        (frame.status === 'online' ? '<button onclick="checkUpdate(' + frame.id + ')">Check Update</button>' : '') +
                        (frame.status === 'uninitialized' ? '<button onclick="initializeFrame(' + frame.id + ')">Initialize</button>' : '') +
                        '</div>'
                    );
                });
            });
        }

        function removeFrame(id) {
            $.ajax({
                url: '/frames/' + id,
                type: 'DELETE',
                success: function(result) {
                    getFrames();
                }
            });
        }

        function checkOnline(id) {
            $.get('/frames/' + id + '/check_online', function(frame) {
                getFrames();
            });
        }

        function checkUpdate(id) {
            $.get('/frames/' + id + '/check_update', function(frame) {
                getFrames();
            });
        }


        function initializeFrame(id) {
            var ssh_user = prompt("Enter SSH username", "pi");
            var ssh_pass = prompt("Enter SSH password", "raspberry");
            var ssh_key;
            if (!ssh_pass) {
                ssh_key = prompt("Enter path to SSH key (Optional)", "");
            }

            var data = {ssh_user: ssh_user, ssh_pass: ssh_pass, ssh_key: ssh_key};

            $.post("/frames/" + id + "/initialize", data, function(data) {
                getFrames()
                // location.reload();
            });
        }
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

</body>
</html>
