.env
.env.*
!.env.example

node_modules/
.next/
out/
dist/
coverage/

.flox/cache/
.flox/log/
.flox/postgres/
.flox/run/

*.log
.DS_Store
apps/auth-web/public/frameos-wasm/
apps/auth-web/public/frameos-editor/
apps/auth-web/public/frames-app/
.env.local
apps/auth-web/public/install.template.sh
