src/codegen/
build/
tmp/
quickjs/
frameos.deps
nimcache
testresults
nimble.develop
nimble.paths
scene.json
*/app_loader.nim
*/*/app_loader.nim
*/*/*/app_loader.nim
*/*/*/*/app_loader.nim
assets/compiled/frame_web
src/assets/apps.nim
src/assets/frame_web.nim
*.admin_session_salt
