# pip install pip-tools
# pip-compile requirements.in
-i https://piwheels.org/simple
--extra-index-url https://pypi.org/simple

dacite==1.8.1
flask==2.2.5
flask-socketio==5.3.4
importlib-metadata==6.7.0
zipp==3.15.0
RPi.GPIO
pillow==9.5.0
inky
numpy==1.21.6
werkzeug==2.2.3
evdev==1.6.1
