__pycache__
*.pyc
*.pyo
*.pyd
.Python
.DS_Store
.flox
env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
.hypothesis
**/node_modules/
**/dist
**/env
npm-debug.log
.env
**/.env
.env.docker.local
.aws
.vscode
.idea
frameos/nimble.paths
db
*.db
build
files
repo
!repo/
!repo/apps/
!repo/apps/**
!repo/scenes/
!repo/scenes/**
frameos/result
frameos/tmp
frameos/build
frameos/nimcache
frameos/.nimcache*
frameos/quickjs
frameos/**/tests
frameos/testresults
frameos/frameos.deps
frameos/nimble.develop
frameos/src/codegen
frameos/src/assets/*.nim
frameos/assets/compiled/frame_web
frameos/assets/compiled/.manifest.json
frameos/agent/build
frameos/agent/tmp
frameos/agent/agent.deps
frameos/agent/nimble.paths
frameos/buildroot/output
frameos/buildroot/sources
frameos/buildroot/dl
frameos/*.admin_session_salt
frameos/state/*.json
e2e/tmp
e2e/frameos
e2e/generated
