__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
.hypothesis
**/node_modules/
**/dist
**/env
npm-debug.log
.env
.aws
.vscode
.idea
frameos/nimble.paths
db
*.db
build
repo
frameos/result
frameos/tmp
frameos/build
frameos/nimcache
frameos/.nimcache*
frameos/testresults
frameos/quickjs
frameos/agent/build
frameos/agent/tmp
frameos/buildroot/output
frameos/buildroot/sources
frameos/buildroot/dl
frameos/*.admin_session_salt
frameos/state/*.json
e2e/tmp
e2e/frameos
e2e/generated
