# python
env
__pycache__
*.db
db/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

instance
node_modules
result
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*Type.ts

# Nim
frameos/tmp/
e2e/tmp/
e2e/frameos/

gpt.txt
.env
.aider*

frameos/buildroot/output
frameos/buildroot/sources
frameos/buildroot/dl

