# python
env
__pycache__
*.db
db/
!.flox/
!.flox/env/
!.flox/env/manifest.toml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

instance
node_modules
result
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*Type.ts

# Nim
frameos/tmp/
e2e/tmp/
e2e/frameos/
frameos/**/tests/test_*
!frameos/**/tests/*.nim
frameos/src/codegen/
frameos/build/
frameos/quickjs/
frameos/frameos.deps
frameos/nimcache
frameos/testresults
frameos/nimble.develop
frameos/nimble.paths
frameos/scene.json
frameos/**/app_loader.nim
frameos/assets/compiled/frame_web
frameos/src/assets/apps.nim
frameos/src/assets/frame_web.nim
frameos/*.admin_session_salt
e2e/frame.json.admin_session_salt
frameos/agent/build/
frameos/agent/tmp/
frameos/agent/agent.deps
frameos/agent/nimble.paths
frameos/state/*.json
e2e/state/scene.json
e2e/state/*.json
e2e/generated/interpreted.nim
e2e/generated/scenes.json
e2e/generated/scenes.nim

gpt.txt
.env
.aider*
.venv/
.flox/cache/
.flox/log/
.flox/redis/
.flox/run/
.flox/state/

frameos/buildroot/output
frameos/buildroot/sources
frameos/buildroot/dl
build/prebuilt-deps/
frameos/.nimcache*
