fastapi[standard]
sqlmodel
passlib
jwt

flask
Flask-migrate

sqlalchemy
huey
honcho
redis
aioredis
paramiko
scp
requests
dacite
Flask-Login==0.6.3
wtforms
flask_wtf==1.2.1
email_validator
ipdb
pillow==9.5.0
sentry-sdk[flask]
pytest
pip-tools
pre-commit
ruff
imagehash
mypy
types-requests
types-Pillow
types-paramiko
types-redis
