# Optional production profile. Use with:
#   SDKCONFIG_DEFAULTS="sdkconfig.defaults;sdkconfig.defaults.16mb-ota" idf.py reconfigure build
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_ota_16mb.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
