<!DOCTYPE html>
<html>
<head>
    <title>FCP</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <style>
        #log {
            font-family: monospace;
        }
        #log .stderr {
            color: red;
        }
    </style>
</head>
<body>
    <ul id="log">
        {% for log in logs %}
            <li class="{{log.type}}">{{ log.line }}</li>
        {% endfor %}
    </ul>
</body>
</html>
