[Unit]
Description=FrameOS Agent Service
After=network.target

[Service]
User=%I
WorkingDirectory=/srv/frameos/current
ExecStart=/srv/frameos/current/agent
Restart=always

[Install]
WantedBy=multi-user.target
