<!DOCTYPE html>
<html>
<head>
    <title>FrameOS Control Panel</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="log" class="terminal">
        {% for log in logs %}
            <div class="terminal-line {{log.type}}"><span class="terminal-timestamp">{{ log.timestamp }}</span><span class="terminal-text">{{ log.line }}</span></div>
        {% endfor %}
    </ul>
</body>
</html>
